<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhp.springcloud.dao.UserDao">
  <resultMap id="BaseResultMap" type="com.zhp.springcloud.dao.entity.User">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_TEL" jdbcType="VARCHAR" property="userTel" />
    <result column="USER_PWD" jdbcType="VARCHAR" property="userPwd" />
    <result column="VIP_DATE_END" jdbcType="TIMESTAMP" property="vipDateEnd" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="USER_STATE" jdbcType="VARCHAR" property="userState" />
    <result column="USER_TYPE" jdbcType="VARCHAR" property="userType" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_NAME, USER_TEL, USER_PWD, VIP_DATE_END, CREATE_DATE, UPDATE_DATE, USER_STATE, 
    USER_TYPE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_user
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhp.springcloud.dao.entity.User">
    insert into t_user (ID, USER_NAME, USER_TEL, 
      USER_PWD, VIP_DATE_END, CREATE_DATE, 
      UPDATE_DATE, USER_STATE, USER_TYPE
      )
    values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userTel,jdbcType=VARCHAR}, 
      #{userPwd,jdbcType=VARCHAR}, #{vipDateEnd,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{userState,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhp.springcloud.dao.entity.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="userTel != null">
        USER_TEL,
      </if>
      <if test="userPwd != null">
        USER_PWD,
      </if>
      <if test="vipDateEnd != null">
        VIP_DATE_END,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="userState != null">
        USER_STATE,
      </if>
      <if test="userType != null">
        USER_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null">
        #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="vipDateEnd != null">
        #{vipDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userState != null">
        #{userState,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhp.springcloud.dao.entity.User">
    update t_user
    <set>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null">
        USER_TEL = #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        USER_PWD = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="vipDateEnd != null">
        VIP_DATE_END = #{vipDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userState != null">
        USER_STATE = #{userState,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        USER_TYPE = #{userType,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhp.springcloud.dao.entity.User">
    update t_user
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_TEL = #{userTel,jdbcType=VARCHAR},
      USER_PWD = #{userPwd,jdbcType=VARCHAR},
      VIP_DATE_END = #{vipDateEnd,jdbcType=TIMESTAMP},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      USER_STATE = #{userState,jdbcType=VARCHAR},
      USER_TYPE = #{userType,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

</mapper>